<a href='/beers/beer/{{id}}'><img
    style='widht: 200px; height: 200px;'
    src='{{image_url}}'
    alt='{{name}}'
  /></a>

<hr />
<li>
  <h2>{{name}}</h2>
</li>
<li
  style='list-style: none; font-weight: bold
    '
>
  <h3>"{{tagline}}"</h3>
</li>
<li
  style='margin-bottom: 60px; list-style:none; text-align:justify; margin-right:60px'
  ;
>
  <h5>"{{description}}"</h5>
</li>